In [2]:
import pandas as pd
import numpy as np

In [3]:
a = [3, 7, 3 , 14, 15]

In [4]:
b = pd.Series(a)
b

0     3
1     7
2     3
3    14
4    15
dtype: int64

In [5]:
b = pd.Series(a, index = ['a', 'b', 'c', 'd', 'e'])
b

a     3
b     7
c     3
d    14
e    15
dtype: int64

In [6]:
from datetime import date

In [7]:
ind = [date(y, m, d) for y, m, d in [(2018, 1, 15), (2015, 3, 25), (2019, 5, 15), (2020, 1, 20), (2014, 9, 18)]]

In [8]:
b = pd.Series(a, index = ind)
b

2018-01-15     3
2015-03-25     7
2019-05-15     3
2020-01-20    14
2014-09-18    15
dtype: int64

In [9]:
b. index

Index([2018-01-15, 2015-03-25, 2019-05-15, 2020-01-20, 2014-09-18], dtype='object')

In [10]:
b.index[4].year

2014

In [11]:
b.index[3].month

1

In [12]:
b.index[0].day

15

In [13]:
b.index = pd.to_datetime(b.index, format = '%Y-%m-%d')

In [14]:
b.index.year

Int64Index([2018, 2015, 2019, 2020, 2014], dtype='int64')

In [15]:
b.index.month

Int64Index([1, 3, 5, 1, 9], dtype='int64')

In [16]:
b.index.day

Int64Index([15, 25, 15, 20, 18], dtype='int64')

In [17]:
d = {'First': 'Kate', 'Second' : 'Julie', 'Third': 'Natalie', 'Fourth': 'Irene', 'Fifth': 'Alexa'}

In [18]:
b = pd.Series(d)
b

First        Kate
Second      Julie
Third     Natalie
Fourth      Irene
Fifth       Alexa
dtype: object

In [19]:
b.index

Index(['First', 'Second', 'Third', 'Fourth', 'Fifth'], dtype='object')

In [41]:
b = pd.Series([5,7,8,3,5,6,1])

In [21]:
b.index

RangeIndex(start=0, stop=7, step=1)

In [22]:
b.values

array([5, 7, 8, 3, 5, 6, 1])

In [23]:
b

0    5
1    7
2    8
3    3
4    5
5    6
6    1
dtype: int64

In [24]:
b[0]

5

In [26]:
b[6]

1

In [27]:
b[[1, 4, 5, 0]]

1    7
4    5
5    6
0    5
dtype: int64

In [29]:
b.head()

0    5
1    7
2    8
3    3
4    5
dtype: int64

In [32]:
b.head(2)

0    5
1    7
dtype: int64

In [33]:
b.tail(2)

5    6
6    1
dtype: int64

In [34]:
b[b>4]

0    5
1    7
2    8
4    5
5    6
dtype: int64

In [42]:
b[(b == 7) | (b % 5 == 0)] = 100
b

0    100
1    100
2      8
3      3
4    100
5      6
6      1
dtype: int64

In [43]:
b = b.append(pd.Series({6:5, 7:10, 8:15, 9:20, 10:25, 11:30,}))
b

0     100
1     100
2       8
3       3
4     100
5       6
6       1
6       5
7      10
8      15
9      20
10     25
11     30
dtype: int64

In [44]:
b = b.drop([11,10,6])
b

0    100
1    100
2      8
3      3
4    100
5      6
7     10
8     15
9     20
dtype: int64

In [45]:
b.to_pickle('b.pkl')

In [46]:
b2 = pd.read_pickle('b.pkl')
b2

0    100
1    100
2      8
3      3
4    100
5      6
7     10
8     15
9     20
dtype: int64