In [1]:
import pandas as pd
import numpy as np

In [2]:
authors = pd.DataFrame({'author_id': [1, 2, 3], 'author_name':['Pushkin', 'Tolstoy', 'Dostoevskiy']}, columns = ['author_id', 'author_name'])
authors

   author_id  author_name
0          1      Pushkin
1          2      Tolstoy
2          3  Dostoevskiy

In [6]:
books = pd.DataFrame({'author_id':[2, 3, 3, 4], 'book_title':['War and Peace', 'The Idiot', 'Crime and Punishment', 'Fathers and Sons']}, columns = ['author_id', 'book_title'])
books

   author_id            book_title
0          2         War and Peace
1          3             The Idiot
2          3  Crime and Punishment
3          4      Fathers and Sons

In [11]:
my_library = pd.merge(authors, books, on = 'author_id', how = 'outer')
my_library

   author_id  author_name            book_title
0          1      Pushkin                   NaN
1          2      Tolstoy         War and Peace
2          3  Dostoevskiy             The Idiot
3          3  Dostoevskiy  Crime and Punishment
4          4          NaN      Fathers and Sons

In [13]:
my_library.loc[my_library['book_title'].isnull(), :]

   author_id author_name book_title
0          1     Pushkin        NaN